<%
  def current_page_class(param)
    return "active" if param == :private and @private == 1
    return "active" if param == :public and @private == 0
    return "active" if param == :all and @private.nil?
    return ""
  end
%>
<ul class='nav nav-tabs'>
  <li class='pull-right <%= current_page_class :private %>'>
    <a href="<%= repositories_private_path user['login'] %>">
      <span class="label label-warning">
        Private
      </span>
    </a>
  </li>
  <li class='pull-right <%= current_page_class :public %>'>
    <a href="<%= repositories_public_path user['login'] %>">
      <span class="label label-success">
        Public
      </span>
    </a>
  </li>
  <% if is_current_user %>
    <li class='pull-right <%= current_page_class :all %>'>
    <a href="<%= root_path %>">
        <span >
          All
        </span>
      </a>
    </li>
  <% else %>
    <li class='pull-right <%= current_page_class :all %>'>
      <a href="<%= user_path user['login'] %>">
        <span >
          All
        </span>
      </a>
    </li>
  <% end %>
  <% if is_current_user %>
    <li class="active">
    <a href="<%= root_path %>">
        <span >
          Repositories
        </span>
      </a>
    </li>
  <% else %>
    <li class="active">
      <a href="<%= user_path user['login'] %>">
        <span >
          Repositories
        </span>
      </a>
    </li>
  <% end %>
</ul>


