<div class="navbar navbar-static-top">
 <div class="navbar-inner">
   <div class="container">
    <ul class="nav breadcrumbs">
      <li><a href="/" class="home"><i class="ui-icon ui-icon-menu"></i></a></li>
      <li><a {{bind-attr href="userUrl"}} >{{model.owner.login}}</a></li>
      <li><a {{bind-attr href="repoUrl"}}>{{model.name}}</a></li>
      <li>
         {{render search}} 
      </li>
    </ul>
     <ul class="nav pull-right">
     </ul>
   </div>
 </div>
</div>

<div class="container-fluid" id="main-stage">
  
  {{outlet}}
</div>
{{outlet loading}}
{{outlet modal}}

