<div class="navbar navbar-static-top">
 <div class="navbar-inner">
   <div class="container">
    <ul class="nav breadcrumbs">
      <li><a href="/" class="home"><i class="ui-icon ui-icon-menu"></i></a></li>
      {{ log this }}
      {{ log model }}
      <li><a href="/{{model.owner.login}}">{{model.owner.login}}</a></li>
    </ul>
     <ul class="nav pull-right">
     </ul>
   </div>
 </div>
</div>

{{outlet}}

