<div id="content" class="content">
  <div id="stage">
    <div class="board">
      <div class="headers">
        {{#each column in columns }}
          <div class="column" {{bind-attr style=column_style }}>
            <h3>{{column.name}}<small>{{ column.issues.length }}</small></h3>
          </div>
        {{/each}}
      </div>
      <div class="columns">
        {{#each column in columns }}
          <div class="column" {{bind-attr style=column_style }}>
            {{ render column column }}
          </div>
        {{/each}}
      </div>
    </div>
  </div>

</div>
