<div class="main-toolbar">
  <div class="sidebar-toggle">
    <a href="#" {{action "toggleSidebar" }}>Filters <i {{bind-attr class=":ui-icon isSidebarOpen:ui-icon-triangle-1-w:ui-icon-triangle-1-e"}} class="ui-icon ui-icon-triangle-1-e"></i></a>
  </div>
 {{#if App.repo.is_collaborator}}
    <div class="create-button">
      <button {{action createNewIssue }} class="hb-button small">Create new issue</button>
      <span class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle hb-icon-link" href="#">
          <i class="ui-icon ui-icon-18 ui-icon-gear"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
              {{#link-to "milestones.integrations" title="Settings" bubbles=true }}
              Integrations
              {{/link-to}}
          </li>
        </ul>
      </span>
    </div>
  {{else}}
    <div class="create-button">
      <a target="_blank" href="{{unbound App.repo.html_url}}/issues/new" class="hb-button small">Create new issue</a>
    </div>
  {{/if}}

</div>
<div id="main-stage" {{bind-attr class=":main-content isSidebarOpen:sidebar-open"}}>
  <div class="sidebar left">
    <div class="sidebar-wrapper">
      {{outlet sidebarTop}}
      {{outlet sidebarMiddle}}
    </div>
  </div>
  
  <div id="content" class="content">
    <div class="board">
      {{ render 'milestone_column' left_column}}
      {{#each column in milestone_columns}}
        {{ render 'milestone_column' column}}
      {{/each}}
    </div>
  </div>
</div>

