<div class="fullscreen-card">
  <div class="fullscreen-card-preamble clearfix">
    {{render 'issue.title' model }}
    <div class="flex-crumbs">
      {{view App.IssueSelectedColumnView content=columns}}
    </div>
  </div>
  <div class="fullscreen-card-right">
    {{#if App.loggedIn }}
      {{#if App.repo.is_collaborator }}
      <div>
        <label>
          {{input type="checkbox" name="isReady" checked=isReady }} Ready for next stage
        </label>
        <label>
          {{input type="checkbox" name="isBlock" checked=isBlocked }} Mark as blocked
        </label>
      </div>
      {{/if}}
    {{/if}}
          {{hb-label-selector labelsChanged="labelsChanged" editable=App.repo.is_collaborator values=controller.model.other_labels selected=controller.model.other_labels title="Labels" labels=controller.repository.other_labels}}
      {{hb-assignee editable=App.repo.is_collaborator assign="assignUser" selected=controller.model.assignee assignees=controller.repository.assignees}}
      {{hb-milestone editable=App.repo.is_collaborator assign="assignMilestone" selected=controller.model.milestone milestones=controller.repository.milestones}}
  </div>
<div class="fullscreen-card-left">
  {{render 'issue.body' model}}

  <div class="fullscreen-card-activity">
    <div class="fullscreen-header">
      <h4> Activity </h4>
    </div>
    {{ render 'issue.activities' allActivities }}
  </div>

  {{#if App.loggedIn }}
  <hr></hr>
  <form {{action submitComment on="submit"}} class="flex-form">
    {{hb-markdown-editor markdown=controller.commentBody mentions=mentions}}
    <button {{bind-attr disabled=disabled}} class="hb-button">Submit comment</button>
  </form>
  {{/if}}
</div>
</div>
