<% content_for :header do %>
  <h1 class="header">
    Accounts
  </h1>

<% end %>
<div class="tabbable row">
  <div class="span3">
    <ul class="nav nav-list">
      <li <% unless @org %> class="active" <% end %> >
      <a href="/settings/profile" class="active"> <%= @user.login %></a>
      </li>
      <% @orgs.each do |org| %>

        <li <% if @org && @org.id == org.id %> class="active" <% end %> >
        <a href="/settings/profile/<%= org.login %>"> <%= org.login %></a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="span9">
    <div class="tab-content">
      <div class="tab-pane <% unless @org %> active <% end %>  " id="user"> 
        <div class="nav-section">
          <div class="widget-header" >
            <h3> <%= @user.login %> </h3>
          </div>
          <div class="widget-body" >
            users yeah
            <%= @authorization %>

          </div>

        </div>
      </div>
      <div class="tab-pane <% if @org %> active <% end %>  " id="settings"> 
        <div class="nav-section">
          <div class="widget-header" >
            <h3> Plans </h3>
          </div>
          <div class="widget-body" >
            <% if(@org && @org.is_owner) %>
              <h2> I is an owner </h2>
              <form class="payment" method="POST" action="/settings/charge/<%= @org.login %>">
                <article>
                <label class="amount">
                  <span>Amount: $24.00</span>
                </label>
                <label class="email">
                  <span>Email:</span>
                  <input name="email" value="<%= current_user.email %>" />
                </label>
                <input type="hidden" name="plan" value="org_basic"/>
                </article>

                <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
                  data-key="<%= settings.stripe_publishable_key %>"></script>
              </form>
              <%= @customer %>
            <% end %>

            <% if(@org && !@org.is_owner) %>
              <h2> Not an owner </h2>
            <% end %>

          </div>

        </div>
      </div>
      <div class="tab-pane " id="linked">
        <div class="nav-section">
          <div class="widget-header" >
            <h3> Linked repositories </h3>
          </div>
          <div class="widget-body" >
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
