<div id="stage" data-module="backlog/main" data-parameters='<%= @parameters.to_json %>'>
<div id="drawer" > 
  <a href="#toggle-drawer" class="hide iconic arrow-right  toggle-drawer"><span></span></a>
</div>
</div>
<% content_for :navigation do %>

  <li>
  <a href="/<%= h @parameters[:user]%>/<%= h @parameters[:repo]%>/milestones">Milestones</a>
  </li>
  <li>
  <a href="/<%= h @parameters[:user]%>/<%= h @parameters[:repo]%>/board">Tasks</a>
  </li>
  <li class="active">
  <a href="/<%= h @parameters[:user]%>/<%= h @parameters[:repo]%>/backlog">Backlog</a>
  </li>

<% end %>

<% content_for :header do %>
  <ol class="assignees">

  </ol>
  <h1 class="header">
    <span class="author"><%= h @parameters[:user] %></span>
    /
    <span class="repo"><%= h @parameters[:repo] %></span>
    <input placeholder="search..."/>
  </h1>

<% end %>
<% content_for :sidebar do %>

  <div class="sidebar-wrapper lifted hide" > </div>
<% end %>

<% content_for :title do %><%= h @parameters[:repo]%> :: <% end %>
