<div id="stage">
      <script type="text/module" data-module="board/main">
        <% if logged_in? %>
          <%= params.clone.merge!({login: current_user.login }).to_json %>
        <% else %>
          <%= params.to_json %>
        <% end %>
      </script>
<div id="drawer" > 
  <a href="#toggle-drawer" class="hide  arrow-right toggle-drawer"><span></span></a>
</div>
</div>
<% content_for :navigation do %>

  <li >
  <a href="/<%= h @parameters[:user]%>/<%= h @parameters[:repo]%>/backlog">Milestones</a>
  </li>
  <li class="active">
  <a href="/<%= h @parameters[:user]%>/<%= h @parameters[:repo]%>">Tasks</a>
  </li>
  <li>
  <a href="/<%= h @parameters[:user]%>/<%= h @parameters[:repo]%>/beta">Beta</a>
  </li>

<% end %>

<% content_for :overlay do %>
  <div class="fullscreen-overlay" >

    <div class="fullscreen-wrapper">
      <div class="fullscreen-body">
      <script type="text/module" data-module="card/main">
        <% if logged_in? %>
          <%= params.clone.merge!({login: current_user.login }).to_json %>
        <% else %>
          <%= params.to_json %>
        <% end %>
      </script>
      
    </div>
    </div>
    
  </div>

<% end %>

<% content_for :breadcrumb do %>
  <li><a href="/<%= h @parameters[:user] %>"><%= h @parameters[:user] %></a></li>
  <li><a href="/<%= h @parameters[:user] %>/<%= h @parameters[:repo] %>"><%= h @parameters[:repo] %></a></li>
  <li>
    <div class="search">
      <i class="ui-icon ui-icon-search"></i>
      <input placeholder="search..." />
    </div>
  </li>
<% end %>

<% content_for :header do %>

  <ol class="assignees">

  </ol>

<% end %>
<% content_for :sidebar do %>

  <div class="sidebar-wrapper lifted hide" > </div>
<% end %>

<% content_for :title do %><%= h @parameters[:repo]%> :: <% end %>
