  <div id="drawer" > </div>
<div id="stage" data-module="modules/board/main" data-parameters='<%= @parameters.to_json %>'>
  <a href="#toggle-drawer" class="hide iconic arrow-right arrow-left toggle-drawer"><span></span></a>
</div>
<% content_for :navigation do %>

  <li>
  <a href="/<%= h @parameters[:user]%>/<%= h @parameters[:repo]%>/milestones">Milestones</a>
  </li>
  <li class="active">
  <a href="/<%= h @parameters[:user]%>/<%= h @parameters[:repo]%>/board">Tasks</a>
  </li>

<% end %>

<% content_for :sidebar do %>

  <div class="sidebar-wrapper drop-shadow lifted hide" > </div>
<% end %>

<% content_for :title do %><%= h @parameters[:repo]%> :: <% end %>
