<div id="stage" data-module="modules/board/main" data-parameters='<%= @parameters.to_json %>'>
  <div id="drawer">
  </div>
  <a href="#toggle-drawer" class="hide iconic arrow-right arrow-left toggle-drawer"><span></span></a>
</div>
<% content_for :navigation do %>

  <li>
  <a href="/<%=@parameters[:user]%>/<%=@parameters[:repo]%>/milestones">Milestones</a>
  </li>
  <li class="active">
  <a href="/<%=@parameters[:user]%>/<%=@parameters[:repo]%>/board">Tasks</a>
  </li>

<% end %>
<% content_for :sub_navigation do %>

  <li class="dropdown">
  <a href="#" class="dropdown-toggle icon-settings">Settings</a>
  <ul class="dropdown-menu">
    <li>
    <a href="/<%=@parameters[:user]%>/<%=@parameters[:repo]%>/hook">Create Hook</a>
    </li>
  </ul>
  </li>

<% end %>
<% content_for :sidebar do %>

  <div class="sidebar-wrapper drop-shadow lifted hide" > </div>
<% end %>
