<% content_for :header do %>
  <h1 class="header">
    <% if (@filtered.nil?) %>
      <span class="author">Repos</span>
      /
    <% else %>
      <span class="author"><%= @filtered %></span>
      /
    <% end %>
  </h1>

<% end %>
<div>
  <ul class="repos drop-shadow ">
    <% @repos.each do |repo| %>
      <li class="repo">
      <a href="<%= "/#{repo["owner"]["login"]}/#{repo["name"]}/milestones" %>"><span>milestones</span></a> 
      <a class="board" href="<%= "/#{repo["owner"]["login"]}/#{repo["name"]}/board" %>"><span>open issues</span><strong><%=repo["open_issues"]%></strong></a> 
      <span><a href='<%= "/#{repo["owner"]["login"]}" %>'><%= repo["owner"]["login"] %></a> / <a target="_blank" href='<%= "https://github.com/#{repo["owner"]["login"]}/#{repo["name"]}" %>'><%= repo["name"] %></a></span>
      </li>
    <% end %>
  </ul>
</div>
