
<div class="row no-header">
  <div class="span3">
    <%= partial :vcard, :locals => {user: @user || current_user } %>
  </div>
  <div class="span9">
    <div>
      <%= partial :repo_filters, :locals => { user: @user || current_user, is_current_user: @user.nil? } %>
      <ul class="repos drop-shadow ">
        <% @repos.each do |repo| %>
          <li class="repo">
        <a href="<%= "/#{repo["owner"]["login"]}/#{repo["name"]}/backlog" %>"><span>backlog</span></a> 
        <a class="board" href="<%= "/#{repo["owner"]["login"]}/#{repo["name"]}/board" %>"><span>open issues</span><strong><%=repo["open_issues"]%></strong></a> 
        <span><a href='<%= "/#{repo["owner"]["login"]}" %>'><%= repo["owner"]["login"] %></a> / <a href='<%= "/#{repo["owner"]["login"]}/#{repo["name"]}/board" %>'><%= repo["name"] %></a></span>
        </li>
      <% end %>
      </ul>
    </div>

  </div>

</div>

