<!DOCTYPE html>
<html>
  <head>
    <title><% yield_content :title %>Huboard</title>
   <link rel="shortcut icon" href="/img/favicon.ico?v=2" />
    <% if @parameters[:socket_backend] && logged_in? %>
      <script src="<%= @parameters[:socket_backend] %>/socket.io/socket.io.js"></script>
      <script src="/scripts/modules/require.js"></script>
        <script>
          define("socket",function() {
            return window.io ? io.connect("<%= @parameters[:socket_backend] %>?token=<%= encrypted_token %>") : null;
          });
        </script>
    <% else %>
      <script src="/scripts/modules/require.js"></script>
      <script>
        define("socket",function() {
          return null;
        });
      </script>
    <% end %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>

    <!-- This is a special version of jQuery with RequireJS built-in -->
    <% if settings.environment.to_sym == :development  %>
    <!-- I know this is really bad to do -->
    <script src="/scripts/firebugx.js" type="text/javascript" charset="utf-8"></script>
    <script src="/scripts/jquery.ui.touch-punch.min.js"></script>
    <script src="/scripts/jquery.color.js" type="text/javascript" charset="utf-8"></script>
    <script src="/scripts/underscore.js" type="text/javascript" charset="utf-8"></script>
    <script src="/scripts/backbone.js" type="text/javascript" charset="utf-8"></script>
    <script src="/scripts/postal.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/scripts/module-loader.js"></script>

    <script src="/scripts/bootstrap/bootstrap.min.js"></script>
    <% else %>
    <script src="/scripts/application.v1.min.js"></script>

    <% end %> 
     <%= partial :fontdeck %>
     <%= stylesheet_tag 'bootstrap' %>
     <%= stylesheet_tag 'application' %>
  </head>
  <body>
    <div id="wrapper">
       <div class="navbar navbar-static-top">
         <div class="navbar-inner">
        <div class="container-fluid">
            <ul class="nav breadcrumbs">
              <li><a href="/" class="home"><i class="ui-icon ui-icon-menu"></i></a></li>
              <% yield_content :breadcrumb %>
            </ul>
            <ul class="nav pull-right">
              <% yield_content :navigation %>
               <% if logged_in? %>
                 <%= partial :logged_in %>
               <% else %>
                   <li>
                   <form action="/login" method="GET">
                    <button class="hb-button"> Sign in </button>
                  </form>
                   </li>
               <% end %>
            </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid" id="main-stage">
      <div class="page-header-wrapper">
        <% yield_content :header %>
      </div>
      <div class="sidebar">
        <% yield_content :sidebar %>
      </div>
      <div class="content" id="content">
        <%= yield %>              
      </div>

    </div>
      <div id="footer-pusher"></div>
  </div>
      <div id="footer">
      <div class="container">
        <div class="row">
          <div class="span6">
            <img class="animate-before" src="<%=image_path 'LogoFullPurpleLight.png' %>"/>
          </div>
          <div class="links span6">
            <a href="/site/terms">terms</a>
            <a href="/site/privacy">privacy</a>
            <a href="https://github.com/rauhryan/huboard">github</a>
          </div>
        </div>

      </div>
    </div>

    <% yield_content :overlay %>
  </body>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28313898-1']);
    _gaq.push(['_setDomainName', 'huboard.com']);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

   </script>
 </html>
