<!DOCTYPE html>
<html>
  <head>
    <title><% yield_content :title %>HuBoard</title>
    <link rel="shortcut icon" href="/img/favicon.ico?v=2" />
    <!-- This is a special version of jQuery with RequireJS built-in -->
    <%= javascript_tag 'marketing' %>
    <%= partial :fontdeck %>
   
    <%= stylesheet_tag 'bootstrap' %>
    <%= stylesheet_tag 'marketing' %>
  </head>
  <body>        
    <div id="wrapper">
      <div class="navbar navbar-static-top">
        <div class="navbar-inner">
          <div class="container">
            
            <a class="brand" href="/">
              <img class="animate-before" src="<%=image_path 'LogoWhiteFull.png' %>"/>
              <img class="animate-after" src="<%=image_path 'Hu.png' %>"/><div class="stat" data-label=".brand label"><span></span><label></label></div><img class="animate-after" src="<%=image_path 'Board.png' %>"/>
            </a>
            <div class="nav">
              <ul class="nav">
                <li>
                   <a href="/login"><span class="nav-btn">Sign in</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <%= yield %>
      <div id="footer-pusher"></div>

    </div>
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="span6">
            <img src="<%=image_path 'LogoFullPurpleLight.png' %>"/>
          </div>
          <div class="links span6">
            <a href="https://github.com/rauhryan/huboard">github</a>
          </div>
        </div>

      </div>
    </div>
   </body>
 </html>

