<div data-module="modules/workqueue/main" data-parameters='<%= @parameters.to_json %>' id="workqueue">
</div>

<% content_for :title do %><%=@parameters[:repo]%> :: <% end %>

<% content_for :navigation do %>

  <li class="active">
  <a href="/<%=@parameters[:user]%>/<%=@parameters[:repo]%>/milestones">Milestones</a>
  </li>
  <li>
  <a href="/<%=@parameters[:user]%>/<%=@parameters[:repo]%>/board">Tasks</a>
  </li>

<% end %>
<% content_for :sub_navigation do %>

  <li class="dropdown">
  <a href="#" class="dropdown-toggle icon-settings">Settings</a>
  <ul class="dropdown-menu">
    <li>
    <a href="/<%=@parameters[:user]%>/<%=@parameters[:repo]%>/hook">Create Hook</a>
    </li>
  </ul>
  </li>

<% end %>
