<% content_for :navigation do %>

  <li >
  <a href="/<%= h @parameters[:user]%>/<%= h @parameters[:repo]%>/backlog">Backlog</a>
  </li>
  <li>
  <a href="/<%= h @parameters[:user]%>/<%= h @parameters[:repo]%>">Tasks</a>
  </li>

<% end %>

<% content_for :header do %>
  <h1 class="header">
    <span class="author"><%= h @parameters[:user] %></span>
    /
    <span class="repo"><%= h @parameters[:repo] %></span>
  </h1>

<% end %>

<% content_for :overlay do %>

<% end %>

<% content_for :title do %><%= h @parameters[:repo]%> :: <% end %>
<div class="tabbable row">
  <div class="span3">
    <ul class="nav nav-list">
      <li class="active"><a href="#settings" data-toggle="tab">Options</a></li>
      <li class=""><a href="#linked" data-toggle="tab">Linked repostories </a></li>
    </ul>
  </div>
  <div class="span9">

    <div class="tab-content">
      <div class="tab-pane active" id="settings">
        <div class="nav-section">
          <div class="widget-header" >
            <h3> Settings </h3>
          </div>
          <div class="widget-body" >

            <div class="widget-settings">
              <div class="widget-action" >
                <input name="settings[show_all]" value="<%= @actions.settings.show_all %>" type="checkbox" <% if @actions.settings.show_all %> checked <% end %> />
              </div>
              <div class="widget-body" >
                <div class="widget-header" >
                  Show all issues
                </div>
                Toggles whether all issues show up in the backlog column. Toggling this setting off will make your 
                board load faster, but only issues that have the lowest index label applied will show up in the backlog column
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="tab-pane " id="linked">
        <div class="nav-section">
          <div class="widget-header" >
            <h3> Linked repositories </h3>
          </div>
          <div class="widget-body" >

        <ul>
          <% @actions.linked.labels.each do |label| %>

            <li> <%= label.user %> / <%= label.repo %> </li>

          <% end %>
        </ul>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
