  {{outlet 'modal'}}
  {{outlet 'loading'}}
  <div class="row">
   
    <div class="span3">

      <ul class="nav nav-list">
        <li>
        {{#link-to "index" }} 
        <img height="24" width="24"  {{bind-attr src=model.user.gravatar_url  }} /> 
        {{ model.user.login }}
        {{/link-to}}
        </li>

        {{#each org in model.orgs}}
        <li>
        {{#link-to "profile" org}} 
        <img  height="24" width="24" {{bind-attr src=org.gravatar_url  }} /> 
          {{ org.login }} 
        {{/link-to}}
        </li>
        {{/each}}
      </ul>
    </div> 
    <div class="span9">
      {{ outlet }}
      <div>
        <strong>Have questions?</strong> Email us anytime at support@huboard.com
      </div>
    </div> 
  </div> 

