<h3>Your board</h3>

<h4>{{repository.full_name}}</h4>
<div class="flex-crumbs">
  {{hb-board-columns columns=columns }}
</div>

<hr>

<h3>Existing links <strong>({{content.length}})</strong> </h3>
<div class="flex-form-top"> 
  {{#if shouldDisplayWarning }}
  <div class="alert alert-error">
    <strong>Warning</strong>: Linking more than 5 repositories together can seriously degrade performance. We suggest breaking them up into smaller groups, ie; back end vs. front end services.
  </div>
  {{/if}}
  <ul class="unstyled links">
    {{#each content as |link|}}
      {{settings/hb-link
        link=link
        links=content
        settings=controllers.settings
        labels=controllers.settings.model.column_labels
      }}
    {{else}}
      <li class="hb-empty">
        <em> Links are totally rad, you should add one </em>
      </li>
    {{/each}}
  </ul>
</div>
<hr>
<h3> Add a linked repository </h3>
{{ outlet }}
