<div class="fullscreen-card">
  <form {{action submit on="submit"}} class="flex-form split-form">
    <div class="flex-form-left"> 
      <label>
        {{input value=title placeholder="Title" }}
      </label>
      {{hb-markdown-editor markdown=body}}
      <button {{bind-attr disabled=disabled}} class="hb-button">Submit issue</button>
    </div>
    <div class="flex-form-right">
      <ul class="labels">
        <h5>Column</h5>
        {{#each label in columns}}
            <li {{action "selectColumn" label bubbles=false}} class="card-label">
              <span>{{label.text}}</span>
            </li>
        {{/each}}
      </ul>
      {{hb-label-selector values=model.labels title="Labels" labels=otherLabels}}
    </div>
  </form>
</div>

