<div class="fullscreen-card">
  <div class="milestone-due-date">
    <h5> due date: {{format-date dueDate}} </h5>
    <small> <a href="#" {{action "clearDueDate"}}> clear </a> </small>
  </div>
  <div class="milestone-title">
    <h3> {{model.title}} </h3>
    <hr>
  </div>
  <form {{action "submit" on="submit"}} class="flex-form split-form">
    <div class="flex-form-left">
      <label>
        {{textarea value=description placeholder="Description"}}
      </label>
      <button {{bind-attr disabled=disabled}} class="hb-button">Update milestone</button>
    </div>
    <div class="flex-form-right">
      <label>
        {{hb-date-picker dueDateBinding="model.due_on"}}
      </label>
    </div>
  </form>
</div>
