<div class="card-header">
  <div class="title" title="{{title}}">
    {{model.title}}
  </div>
  <div class="number">
    <small>#</small>
    <a class="xnumber" href="{{html_url}}" target="_blank" title="View issue on github.com">
      {{model.number}}
    </a>
    {{#if model.pull_request}} {{#if model.pull_request.html_url }} <i class="ui-icon ui-icon-21 ui-icon-branch-merge"></i> {{/if}} {{/if}}
  </div>
</div>

{{#if model.assignee }}
  {{hb-avatar-tooltip user=model.assignee width="24" height="24" }}
{{/if}}

<div class="card-labels">
    {{#each label in cardLabels }}
      <div class="card-label-wrapper"> 
         <div class="card-label active small {{label.customColor}}"></div>
         <div class="card-label active large {{label.customColor}}">
          <span>{{label.name}}</span>
         </div>
      </div>
    {{/each}}
</div>

{{#if isLast}}
  <div class="hb-action actions-close">
    <button class="hb-button" disabled="{{processing}}" {{action 'close' model bubbles=false}}>Close</button>
  </div>                                                      
{{/if}}

{{#if canArchive}}

<div class="hb-action actions-archive">
  <button class="hb-button-icon hb-button hb-button-grey" disabled="{{processing}}" {{action "archive" model bubbles=false}}><i class="ui-icon ui-icon-box-add"></i>Archive</button>
</div>                                                      
{{/if}}

<div class="card-states">
   <img src="{{asset-path "check.png"}}" title="Issue is closed" class="hb-state-closed"/>
   <img src="{{asset-path "arrow.png"}}" class="hb-state-ready"/>
   <img src="{{asset-path "x.png"}}" class="hb-state-blocked"/>
</div>
