<div class="card-header">
  <div class="title" title="{{model.title}}">
    {{#if model.assignee}}
      {{hb-avatar-tooltip user=model.assignee width="24" height="24"}}
    {{/if}}
    {{model.title}} 
    <small>#{{model.number}}</small>
  </div>
</div>

<div class="flex-crumbs">
  {{hb-selected-column columns=columns issue=model}}
</div>


<div class="card-labels">
    {{#each label in cardLabels }}
      <div class="card-label-wrapper"> 
         <div class="card-label active small {{label.customColor}}"></div>
         <div class="card-label active large {{label.customColor}}">
          <span>{{label.name}}</span>
         </div>
      </div>
    {{/each}}
</div>

