<div class="flex-form-bottom">
  <form {{action submit on="submit"}} class="flex-form">
    <h3>HipChat Instructions</h3>
    <p> Input the room you wish to integrate with HuBoard </p>
    <label>
      {{input value=room placeholder="Room Name" }}
    </label>
    <p> Generate an API Authorization token (a room specific token is recommended) and paste it below </p>
    <label>
      {{input value=authToken placeholder="Authorization Token" }}
    </label>
    <button {{bind-attr disabled=disabled}} class="hb-button">Submit webhook</button>
    <div class="with-line"><span>or</span></div>
    <div class="cancel"> <a href="#" {{action cancel}}>Cancel</a> </div>
  </form>
</div>
