<% content_for :marketing_hero do %>
	<!-- hero -->
	<section class="hero"><div class="container">
		<h2 class="hero__title">Iron out your GitHub issues</h2>
		<p class="hero__copy">
			HuBoard is built from the ground up using the GitHub public API. HuBoard issues are GitHub issues, you will never have to deal with syncronization problems. Keep issues where they belong, in the repository with your code!
		</p>
		<a href="#" class="btn hero__btn">Sign up for a 14 day free trial <i class="icon icon--lt"></i></a>
	</div></section>
	<!-- / hero -->
<% end %>
<!-- main content area -->
<div class="main"><div class="container">
	<!-- page intro -->
	<header class="page-intro">
		<h1 class="page-intro__heading heading">Features</h1>
	</header>
	
	<!-- features -->
	<section id="features" class="features">
		<!-- feature -->
		<div class="feature feature--row">
			<div class="feature__image">
        <img src="<%= image_path 'marketing/feature-1.png' %>" alt="Feature thumbnail">
			</div>
			<div class="feature__copy">
				<h3 class="heading feature__title">Lightweight Kanban Board</h3>
				<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.</p>
			</div>
		</div>
		<!-- feature -->
		<div class="feature feature--row feature--row--alt">
			<div class="feature__image">
        <img src="<%= image_path 'marketing/feature-blank.png'%>" alt="Feature thumbnail">
			</div>
			<div class="feature__copy">
				<h3 class="heading feature__title">Three state multi faceted filtering</h3>
				<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.</p>
			</div>
		</div>
		<!-- feature -->
		<div class="feature feature--row">
			<div class="feature__image">
        <img src="<%= image_path 'marketing/feature-blank.png' %>" alt="Feature thumbnail">
			</div>
			<div class="feature__copy">
				<h3 class="heading feature__title">Drag to assign issues</h3>
				<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.</p>
			</div>
		</div>

		<!-- feature columns -->
		<div class="feature__columns">
			<!-- feature -->
			<div class="feature feature--column">
				<div class="feature__image">
          <img src="<%= image_path 'marketing/feature-blank-small.png' %>" alt="Feature title">
				</div>
				<div class="feature__copy">
					<h3 class="heading feature__title">Prioritize</h3>
					<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo.</p>
				</div>
			</div>

			<!-- feature -->
			<div class="feature feature--column">
				<div class="feature__image">
          <img src="<%= image_path 'marketing/feature-blank-small.png' %>" alt="Feature title">
				</div>
				<div class="feature__copy">
					<h3 class="heading feature__title">Prioritize</h3>
					<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo.</p>
				</div>
			</div>

			<!-- feature -->
			<div class="feature feature--column">
				<div class="feature__image">
          <img src="<%= image_path 'marketing/feature-blank-small.png' %>" alt="Feature title">
				</div>
				<div class="feature__copy">
					<h3 class="heading feature__title">Prioritize</h3>
					<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- / features -->
</div></div>
<!-- / main content area -->
<!-- testimonials -->
<div class="testimonials"><div class="container">
	<h3 class="heading testimonials__heading">Loved by&hellip;</h3>
	<div class="slider">
		<ul>
			<li class="testimonial">
				<blockquote>
					<p>&ldquo;We're a distributed team that loves markers and paper. When we can't all be in the same place, HuBoard is the best alternative we've found to a nice sharpie and some index cards. Plus, Github. HuBoard is the animated gifs of kanban style Github issue management.&rdquo;</p>
				</blockquote>
				<cite>
					<div class="testimonial__avatar">
            <img src="<%= image_path 'marketing/avatar.png' %>" alt="Iain Poulson (avatar)">
					</div>
					<strong class="testimonial__name">Iain Poulson</strong>
					<em class="testimonial__title">CTO at Mozilla Open Badges</em>
				</cite>
			</li>
			<li class="testimonial">
				<blockquote>
					<p>&ldquo;We're a distributed team that loves markers and paper. When we can't all be in the same place, HuBoard is the best alternative we've found to a nice sharpie and some index cards. Plus, Github. HuBoard is the animated gifs of kanban style Github issue management.&rdquo;</p>
				</blockquote>
				<cite>
					<div class="testimonial__avatar">
            <img src="<%= image_path 'marketing/avatar.png' %>" alt="Iain Poulson (avatar)">
					</div>
					<strong class="testimonial__name">Iain Poulson</strong>
					<em class="testimonial__title">CTO at Mozilla Open Badges</em>
				</cite>
			</li>
			<li class="testimonial">
				<blockquote>
					<p>&ldquo;We're a distributed team that loves markers and paper. When we can't all be in the same place, HuBoard is the best alternative we've found to a nice sharpie and some index cards. Plus, Github. HuBoard is the animated gifs of kanban style Github issue management.&rdquo;</p>
				</blockquote>
				<cite>
					<div class="testimonial__avatar">
            <img src="<%= image_path 'marketing/avatar.png' %>" alt="Iain Poulson (avatar)">
					</div>
					<strong class="testimonial__name">Iain Poulson</strong>
					<em class="testimonial__title">CTO at Mozilla Open Badges</em>
				</cite>
			</li>
		</ul>
	</div>
	<!-- <ol class="testimonials__controls">
		<li class="active">1</li>
		<li>2</li>
		<li>3</li>
		<li>4</li>
		<li>5</li>
	</ol> -->
</div></div>
<!-- / testimonials -->
<!-- customers -->
<div id='customers' class="customers"><div class="container">
	<h3 class="heading customers__heading">Trusted by&hellip;</h3>
	<div class="customers__copy">
		<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor.</p>
	</div>

	<div class="customers__logos">
		<div class="customers__logos__row">
      <span><img src="<%= image_path 'marketing/trusted--twitter.png' %>" alt="Logo"></span>
      <span><img src="<%= image_path 'marketing/trusted--facebook.png' %>" alt="Logo"></span>
      <span><img src="<%= image_path 'marketing/trusted--apple.png' %>" alt="Logo"></span>
		</div>
		<div class="customers__logos__row">
      <span><img src="<%= image_path 'marketing/trusted--rdio.png' %>" alt="Logo"></span>
      <span><img src="<%= image_path 'marketing/trusted--google.png' %>" alt="Logo"></span>
      <span><img src="<%= image_path 'marketing/trusted--att.png' %>" alt="Logo"></span>
		</div>
	</div>
</div></div>
<!-- / customers -->
