
	<!-- header -->
	<header class="header" id="header"><div class="container">
		<!-- logo -->
		<div class="logo">
      <a href="/"><img src="<%= image_path 'marketing/logo.png' %>" alt="Huboard&trade;"></a>
		</div>

		<!-- navigation -->
		<button class="nav-toggle">Menu</button>
		<nav class="nav" id="nav">
			<ul>
        <li class="nav__item <%= controller? "features" %>"><a href="/?controller=features#features" class="nav__link"><span>Features</span></a></li>
				<li class="nav__item <%= controller? "pricing" %>"><a href="/pricing" class="nav__link"><span>Plans &amp; Pricing</span></a></li>
				<li class="nav__item"><a href="https://enterprise.huboard.com" class="nav__link"><span>Enterprise</span></a></li>
				<li class="nav__item <%= controller? "integrations" %>"><a href="/integrations" class="nav__link"><span>Integrations</span></a></li>
        <li class="nav__item nav__item--btn <%= controller? "login" %>"><a href="/login" class="nav__btn <%= controller? "login" %>">Sign in</a></li>
			</ul>
		</nav>
	</div></header>
	<!-- / header -->
