<% content_for :title do %>
 GitHub issues made awesome.
<% end %>
<% content_for :marketing_hero do %>
	<!-- hero -->
	<section class="hero"><div class="container">
		<h2 class="hero__title">Instant project management for your GitHub issues</h2>
		<p class="hero__copy">
			HuBoard is built from the ground up using the GitHub public API. HuBoard issues are GitHub issues, you will never have to deal with syncronization problems. Keep issues where they belong, in the repository with your code!
		</p>
		<a href="/login" class="btn hero__btn">Sign up for a 14 day free trial <i class="icon icon--lt"></i></a>
	</div></section>
	<!-- / hero -->
<% end %>
<!-- main content area -->
<div class="main main--features"><div class="container">
	<!-- page intro -->
	<header class="page-intro">
		<h1 id="features" class="page-intro__heading heading">Features</h1>
	</header>
	
	<!-- features -->
	<section  class="features">
		<!-- feature -->
		<div class="feature feature--row">
			<div class="feature__image">
        <a href="<%= image_path 'marketing/Kanban@2x.png' %>" class="feature__image">
          <img  src="<%= image_path 'marketing/Kanban@2x.png' %>" alt="Feature thumbnail" width="357">
        </a>
			</div>
			<div class="feature__copy">
				<h3 class="heading feature__title">Lightweight Kanban Board</h3>
				<p>Fully customizable task board gives developers instant feedback into the status of tasks thoughout your progress.</p>
			</div>
		</div>
		<!-- feature -->
		<div class="feature feature--row feature--row--alt">
			<div class="feature__image">
        <a href="<%= image_path 'marketing/Filter@2x.png' %>" class="feature__image">
          <img src="<%= image_path 'marketing/Filter@2x.png' %>" alt="Feature thumbnail" width="224">
        </a>
			</div>
			<div class="feature__copy">
				<h3 class="heading feature__title">Three state multi faceted filtering</h3>
				<p>Clicking a filter once will dim out issues that don’t match, click again and they disappear. Filters can be mixed and matched to help you narrow down exactly what you need to work on.</p>
			</div>
		</div>
		<!-- feature -->
		<div class="feature feature--row">
			<div class="feature__image">
        <a href="<%= image_path 'marketing/DragAvatar@2x.png' %>" class="feature__image">
        <img src="<%= image_path 'marketing/DragAvatar@2x.png' %>" alt="Feature thumbnail" width="283">
      </a>
			</div>
			<div class="feature__copy">
				<h3 class="heading feature__title">Drag to assign issues</h3>
				<p>Quickly assign issues by dragging your avatar onto the card.</p>
			</div>
		</div>

		<!-- feature columns -->
		<div class="feature__columns">

			<!-- feature -->
			<div class="feature feature--column">
				<div class="feature__image">
        <a href="<%= image_path 'marketing/Prioritize@2x.png' %>" class="feature__image--popup">
          <img src="<%= image_path 'marketing/Prioritize@2x.png' %>" alt="Feature title">
        </a>
				</div>
				<div class="feature__copy">
					<h3 class="heading feature__title">Prioritize your work</h3>
					<p>Drag your most important issues to the top, HuBoard will remember what needs to be worked on next.</p>
				</div>
			</div>

			<!-- feature -->
			<div class="feature feature--column">
				<div class="feature__image">
        <a href="<%= image_path 'marketing/horizontal@2x.png' %>" class="feature__image--popup">
          <img src="<%= image_path 'marketing/horizontal@2x.png' %>" alt="Feature title">
        </a>
				</div>
				<div class="feature__copy">
					<h3 class="heading feature__title">Drag issues between milestones</h3>
					<p>Dragging issues between milestones provides a MUCH needed complement to an amazing feature from GitHub. No more spending hours checking checkboxes and paging through GitHub's awkward grid view.</p>
				</div>
			</div>

			<!-- feature -->
			<div class="feature feature--column">
				<div class="feature__image">
        <a href="<%= image_path 'marketing/Integrations@2x.png' %>" class="feature__image--popup">
          <img src="<%= image_path 'marketing/Integrations@2x.png' %>" alt="Feature title">
        </a>
				</div>
				<div class="feature__copy">
					<h3 class="heading feature__title">Powerful integrations</h3>
          <p>Keep your entire team informed on your work, with HuBoard's powerful integrations with amazing applications like <a href='https://slack.com'>Slack</a>, <a href="https://hipchat.com">HipChat</a> and <a href='https://gitter.im'>Gitter</a></p>
				</div>
			</div>
		</div>
	</section>
	<!-- / features -->
</div></div>
<!-- / main content area -->
<!-- testimonials -->
<div class="testimonials"><div class="container">
	<h3 class="heading testimonials__heading">Loved by&hellip;</h3>
	<div class="slider">
		<ul>
			<li class="testimonial">
				<blockquote>
					<p>&ldquo;We're a distributed team that loves markers and paper. When we can't all be in the same place, HuBoard is the best alternative we've found to a nice sharpie and some index cards. Plus, Github. HuBoard is the animated gifs of kanban style Github issue management.&rdquo;</p>
				</blockquote>
				<cite>
					<div class="testimonial__avatar">
            <img src="<%= image_path "marketing/chris-mcavoy.jpg" %>" alt="Chris McAvoy (avatar)">
					</div>
					<strong class="testimonial__name">Chris McAvoy</strong>
					<em class="testimonial__title">CTO at Mozilla Open Badges</em>
				</cite>
			</li>
			<li class="testimonial">
				<blockquote>
					<p>&ldquo;HuBoard brought together the two key features I needed for projects I was leading. It's open source, integrates with GitHub issues, and has an extremely simple and clean approach to the UX. This has made it my go to for kanban with a remote, fast moving, and high caliber team. Oh, and forgot to mention, the drag and drop for those that don't want to dig around the issues on GitHub is a life saver! &rdquo;</p>
				</blockquote>
				<cite>
					<div class="testimonial__avatar">
            <img src="https://secure.gravatar.com/avatar/b077605f4799abe20de52b6ded458e99" alt="Adron Hall (avatar)">
					</div>
					<strong class="testimonial__name">Adron Hall</strong>
					<em class="testimonial__title">CTO at deconstructed.io</em>
				</cite>
			</li>
			<li class="testimonial">
				<blockquote>
					<p>&ldquo;I love that HuBoard enables us to keep our development tasks AND our project management tasks in a single repository (GitHub Issues). HuBoard provides the best fusion between development and product management I've ever seen. It lets us stay light and nimble while providing the same level of accountability and trace-ability of a big ALM tool. HuBoard blows the heavy 'enterprisey' ALM tools out of the water AND keeps my developers happy! &rdquo;</p>
				</blockquote>
				<cite>
					<div class="testimonial__avatar">
            <img src="https://secure.gravatar.com/avatar/9844aef6963e88fdbeef1acb97df5604" alt="Chad Myers (avatar)">
					</div>
					<strong class="testimonial__name">Chad Myers</strong>
					<em class="testimonial__title">Director of Development at Dovetail Software</em>
				</cite>
			</li>
		</ul>
	</div>
	<!-- <ol class="testimonials__controls">
		<li class="active">1</li>
		<li>2</li>
		<li>3</li>
		<li>4</li>
		<li>5</li>
	</ol> -->
</div></div>
<!-- / testimonials -->
<!-- customers -->
<div id='customers' class="customers"><div class="container">
	<h3 class="heading customers__heading">Trusted by&hellip;</h3>
	<div class="customers__copy">
		<p></p>
	</div>

	<div class="customers__logos">
		<div class="customers__logos__row">
      <span><img src="<%= image_path 'marketing/trusted--shopify.png' %>" alt="Logo"></span>
      <span><img src="<%= image_path 'marketing/trusted--carnegie.png' %>" alt="Logo"></span>
      <span><img src="<%= image_path 'marketing/trusted--microsoft.png' %>" alt="Logo"></span>
		</div>
		<div class="customers__logos__row">
      <span><img src="<%= image_path 'marketing/trusted--mozilla.png' %>" alt="Logo"></span>
      <span><img src="<%= image_path 'marketing/trusted--ted.png' %>" alt="Logo"></span>
      <span><img src="<%= image_path 'marketing/trusted--adobe.png' %>" alt="Logo"></span>
		</div>
	</div>
</div></div>
<!-- / customers -->
