<a {{action "moveToColumn" view.content }} href="#"><span>{{view.content.text}}</span>

<div class="card-states">
   <img src="{{asset-path 'check.png'}}" title="Issue is closed" class="hb-state-closed"/>
   <img src="{{asset-path 'arrow.png'}}" class="hb-state-ready"/>
   <img src="{{asset-path 'x.png'}}" class="hb-state-blocked"/>
</div>
</a>

