<span class="ui-icon-bookmark"></span> {{hb-avatar user=view.content.actor width=20 height=20}}
<strong> <a target="_blank" href="{{view.content.actor.html_url}}"> {{view.content.actor.login}}</a></strong> referenced this issue from a commit {{ago view.content.created_at }}
{{render "issue.reference" view.content}}
