<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for :title %>HuBoard</title>
    <meta name="description" content="Instant project management for GitHub issues">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="app/config/environment" content="%7B%22modulePrefix%22%3A%22app%22%2C%22environment%22%3A%22development%22%2C%22baseURL%22%3A%22/%22%2C%22locationType%22%3A%22hash%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%7D%2C%22APP%22%3A%7B%22name%22%3A%22app%22%2C%22version%22%3A%220.0.0.076cd4de%22%7D%2C%22contentSecurityPolicyHeader%22%3A%22Content-Security-Policy-Report-Only%22%2C%22contentSecurityPolicy%22%3A%7B%22default-src%22%3A%22%27none%27%22%2C%22script-src%22%3A%22%27self%27%20%27unsafe-eval%27%22%2C%22font-src%22%3A%22%27self%27%22%2C%22connect-src%22%3A%22%27self%27%22%2C%22img-src%22%3A%22%27self%27%22%2C%22style-src%22%3A%22%27self%27%22%2C%22media-src%22%3A%22%27self%27%22%7D%2C%22exportApplicationGlobal%22%3Atrue%7D" />
     <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/favicon.ico?v=3" />
    
     <%= stylesheet_link_tag 'bootstrap' %>
     <%= stylesheet_link_tag 'flex_layout' %>


  </head>
  <body class="flex-body">
     <div id="application">
     </div>
     <%= content_for :overlay %>

     <%= render partial: "shared/analytics" %>
     <script>
      window.EMOJIS = <%= emojis.to_json.html_safe %>;
      window.HUBOARD_ENV = <%= Rails.application.config.client_environment.to_json.html_safe %>;
     </script>
     <%= content_for :javascripts %>
     <%= render partial: "shared/fontdeck" %>


     <script>
        $(function() {
          var token = $('meta[name="csrf-token"]').attr('content');
          return $.ajaxPrefilter(function(options, originalOptions, xhr) {
            return xhr.setRequestHeader('X-CSRF-Token', token);
          });
        });
     </script>
   </body>
 </html>



