<!DOCTYPE html>
<html>
  <head>
    <title><%= yield_content :title %>HuBoard</title>
    <meta name="description" content="Instant project management for GitHub issues">
    <link rel="shortcut icon" href="/favicon.ico?v=3" />
    
     <%= stylesheet_tag 'bootstrap' %>
     <%= stylesheet_tag 'application' %>


   </head>
   <body>
     <div id="wrapper">
       <div class="navbar navbar-static-top">
         <div class="navbar-inner">
           <div class="container">
            <ul class="nav breadcrumbs">
              <li><a href="/" class="home"><i class="ui-icon ui-icon-menu"></i></a></li>
              <%= yield_content :breadcrumb %>
            </ul>
             <ul class="nav pull-right">
               <%= yield_content :navigation %>
               <% if logged_in? %>
                 <%= partial :logged_in %>
               <% else %>
                   <li>
                   <form action="/login" method="GET">
                    <button class="hb-button"> Sign in </button>
                  </form>
                   </li>
               <% end %>
             </ul>
           </div>
         </div>
       </div>
       <div class="container" id="main-application">
         <%= yield_content :header %>
         <%= yield %>

       </div>
       <div id="footer-pusher"></div>
     </div>
        <div id="footer">
      <div class="container">
        <div class="row">
          <div class="span6">
            <img class="animate-before" src="<%=image_path 'LogoFullPurpleLight.png' %>"/>
          </div>
          <div class="links span6">
            <a href="/site/terms">terms</a>
            <a href="/site/privacy">privacy</a>
            <a href="https://github.com/rauhryan/huboard">github</a>
          </div>
        </div>

      </div>
    </div>

    <%= yield_content :overlay %>

    <%= partial_erb :analytics %>
    <%= partial :fontdeck %>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="<%= javascript_path "ember-accounts"%>" type="text/javascript"></script>
    <script src="<%= javascript_path "bootstrap"%>" type="text/javascript"></script>

   </body>
 </html>

