<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for :title %>HuBoard</title>
    <meta name="description" content="Instant project management for GitHub issues">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/favicon.ico?v=3" />
    
     <%= stylesheet_link_tag 'bootstrap' %>
     <%= stylesheet_link_tag 'bootstrap-datepicker' %>
     <%= stylesheet_link_tag 'flex_layout' %>


  </head>
  <body class="flex-body">
     <div id="application">
     </div>
     <%= content_for :overlay %>

     <%= render partial: "shared/analytics" %>
     <script>
      window.EMOJIS = <%= emojis.to_json.html_safe %>;
      window.HUBOARD_ENV = <%= Rails.application.config.client_environment.to_json.html_safe %>;
     </script>
     <%= content_for :javascripts %>
     <%= render partial: "shared/fontdeck" %>


     <script>
        $(function() {
          var token = $('meta[name="csrf-token"]').attr('content');
          return $.ajaxPrefilter(function(options, originalOptions, xhr) {
            return xhr.setRequestHeader('X-CSRF-Token', token);
          });
        });
     </script>
   </body>
 </html>



