<!DOCTYPE html>
<html>
  <head>
    <title><%= yield_content :title %>HuBoard</title>
    <meta name="description" content="Instant project management for GitHub issues">
    <link rel="shortcut icon" href="/favicon.ico?v=3" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
     <%= stylesheet_tag 'bootstrap' %>
     <%= stylesheet_tag 'flex_layout' %>


  </head>
  <body class="flex-body">
     <div id="application">
     </div>
     <%= yield_content :overlay %>

     <%= partial_erb :analytics %>
     <script>
      window.EMOJIS = <%= emojis.to_json %>;
     </script>
     <%= yield_content :javascripts %>
     <%= partial :fontdeck %>


   </body>
 </html>


