<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HuBoard - <%= yield_content :title %></title>
	<meta name="description" content="Instant project management for GitHub issues">
  <link rel="shortcut icon" href="/favicon.ico?v=3" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Stylesheets -->
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet" type="text/css">
  <%= stylesheet_tag 'marketing/main' %>

	<!-- Javascript -->
	<!--[if lt IE 9]>
	<script src="assets/js/vendor/html5shiv.js"></script>
	<script src="assets/js/vendor/respond.js"></script>
	<script src="assets/js/vendor/selectivizr-min.js"></script>
	<![endif]-->

</head>
<body>
<!-- top container -->
<div class="top top--<%= @controller %> <%= @controller == "integrations" ? "top--stars" : "" %>"> <div class="top-inner">
  <%= partial_erb 'header' %>
  <%= yield_content :marketing_hero %>

</div></div>
<!-- / top container -->


  <%= yield %>

<!-- footer -->
<footer class="footer" id="footer"><div class="container">
	<!-- call to action -->
	<div class="footer__signup">
		<p>Sign up for our 14-day free trial &rsaquo;</p>
		<div class="footer__signup__btn">
			<a href="/login" class="btn">Get it now!</a>
		</div>
	</div>

  <%= partial_erb 'footer_nav' %>

	<!-- copyright -->
	<p class="copyright">
		Copyright &copy; 2014 Huboard, Inc.
		<a href="/site/terms">Terms of Service</a>
		<a href="/site/privacy">Privacy Policy</a>
    <br />
    Header photo credit with slight modification.
    <a href="https://www.flickr.com/photos/9511824@N05/4858486575/">DaveFayram</a> 
    <a href="https://creativecommons.org/licenses/by/2.0/">cc</a>
	</p>

</div></footer>
<!-- / footer -->
<%= javascript_tag 'marketing' %>
  <%= partial_erb :analytics %>
</body>
</html>
